<div id="<%= dom_id order %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Control number:</strong>
    <%= order.control_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">State:</strong>
    <%= order.state %>
  </div>
</div>
